$gradient: linear-gradient(135deg, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
$bright-blue: hsl(220, 98%, 61%);

body.light {
  --background: #fafafa;
  --app-background: #ffffff;
  --dragging-color: hsl(0, 0%, 95%);
  --main-font: #494c6b;
  --border: #e3e4f1;
  --complete-todo-item: #d1d2da;
  --footer-font-color: #9495a5;
  --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

body.dark {
  --background: #161722;
  --app-background: #25273d;
  --dragging-color: hsl(235, 24%, 25%);
  --main-font: #c8cbe7;
  --border: #393a4b;
  --complete-todo-item: #4d5067;
  --footer-font-color: #5b5e7e;
  --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}
