@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--background);
}

.bg_image {
  background: url('../../public/images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.app {
  margin: 3rem 1.5rem 0;

  & > p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 0.875rem;
    letter-spacing: -0.194444px;
    color: var(--footer-font-color);
    text-align: center;
    margin-top: 2.5rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;

  .logo {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #fff;
  }

  .theme-switch {
    height: 20px;
    width: 20px;
    background: url('../../public/images/icon-moon.svg');
    background-size: contain;

    &:hover {
      cursor: pointer;
    }
  }
}

.checkbox {
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid var(--border);
  border-radius: 50%;

  input {
    display: none;
  }

  &.checked {
    background: url('../../public/images/icon-check.svg'), $gradient !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: none;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(var(--app-background), var(--app-background)) padding-box, $gradient border-box;
    border-color: transparent;
  }
}

.input-field {
  position: relative;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);

  input {
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    padding: 0 1.25rem 0 3.25rem;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: -0.166667px;
    color: var(--main-font);
    background-color: var(--app-background);

    &:focus {
      outline: none;
    }
  }

  .checkbox {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);

    &:hover {
      cursor: default;
      background: unset;
      border-color: var(--border);
    }
  }
}

.list {
  list-style: none;
  background-color: var(--app-background);
  border-radius: 5px 5px 0 0;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 1;

  .checkbox.checked ~ p {
    color: var(--complete-todo-item);
    text-decoration: line-through;
  }

  .list-item {
    display: flex;
    align-items: center;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid var(--border);
    position: relative;

    &:hover {
      cursor: pointer;
    }

    p {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 0.75rem;
      letter-spacing: -0.166667px;
      color: var(--main-font);
      margin-left: 0.75rem;
    }

    img {
      position: absolute;
      top: 50%;
      right: 1.25rem;
      transform: translateY(-50%);
    }
  }
}

.footer {
  display: grid;
  grid-template-rows: 3rem;
  gap: 1.25rem 0;
  color: var(--footer-font-color);
  background-color: var(--app-background);

  .items-left,
  .clear-completed {
    grid-row: 1 / 2;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: -0.166667px;
    align-self: center;
    padding: 1rem 1.25rem 1.25rem;
    background-color: var(--app-background);
    box-shadow: var(--box-shadow);
    z-index: 2;

    &:hover {
      cursor: pointer;
      color: var(--main-font);
    }
  }

  .items-left {
    border-bottom-left-radius: 5px;
  }

  .clear-completed {
    text-align: right;
    border-bottom-right-radius: 5px;
  }

  .view-list {
    list-style: none;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
    background-color: var(--app-background);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    z-index: 3;

    li {
      margin-right: 1.125rem;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 0.875rem;
      letter-spacing: -0.194444px;

      &:last-child {
        margin-right: 0;
      }

      &.current {
        color: $bright-blue !important;
      }

      &:hover {
        cursor: pointer;
        color: var(--main-font);
      }
    }
  }
}

@media (min-width: 550px) {
  .bg_image {
    background: url('../../public/images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }

  .app {
    margin: 4.375rem auto 0;
    max-width: 33.75rem;

    & > p {
      margin-top: 3.125rem;
    }
  }

  header {
    margin-bottom: 3rem;

    .logo {
      font-size: 2.5rem;
      line-height: 2.5rem;
      letter-spacing: 15px;
    }

    .theme-switch {
      height: 26px;
      width: 26px;
    }
  }

  .checkbox {
    height: 1.5rem;
    width: 1.5rem;
  }

  .input-field {
    position: relative;
    margin-bottom: 1.5rem;

    input {
      height: 4rem;
      padding: 0 1.5rem 0 4.5rem;
      font-size: 1.125rem;
      line-height: 1.125rem;
      letter-spacing: -0.25px;
    }

    .checkbox {
      left: 1.5rem;
    }
  }

  .list {
    .list-item {
      padding: 1.25rem 1.5rem;

      p {
        font-size: 1.125rem;
        line-height: 1.125rem;
        letter-spacing: -0.25px;
        margin-left: 1.5rem;
      }

      img {
        right: 1.5rem;
        display: none;
      }

      &:hover img {
        display: block;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    z-index: 1;
    box-shadow: var(--box-shadow);

    .items-left,
    .clear-completed {
      letter-spacing: -0.194444px;
      padding: 0;
      border-radius: 0;
      box-shadow: unset;
    }

    .view-list {
      padding: 0;
      border-radius: 0;
      box-shadow: unset;
    }
  }
}
